{% extends 'base.html.twig' %}

{% block title %}{{ __u('sector index') | title }}{% endblock %}

{% block body %}
<h1>{{ __u('sector index') | title }}</h1>

<table class="table table-bordered">
    <thead class="bg-secondary">
        <tr>
                            <th>{{ __u('Id') }}</th>
                            <th>{{ __u('Name') }}</th>
                            <th>{{ __u('Description') }}</th>
                    </tr>
    </thead>
    <tbody>
        {% for sector in sectors %}
        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ sector.name }}</td>
                            <td>{{ sector.description }}</td>
                    </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}