{% extends 'base.html.twig' %}

{% block title %}{{ __u('Create new') }} {{ __t('Project') }}{% endblock %}

{% block body %}
<h1>{{ __u('Create new') }} {{ __t('Project') }} </h1>
<div class="bg-dark">
    <hr>
    <hr>
</div>
<a href="{{ path('app_project_index', {_locale: app.request.locale ?? app.request.defaultLocale}) }}" class="btn btn-info">{{ __('back to list') }}</a>
<hr>
{{ include('project/_form.html.twig') }}

{% endblock %}